/my-app/node_modules
/node_modules
obj
postcss.config.js
appsettings.json
appsettings.Development.json
Properties
.vscode
tailwind.config.ts
tsconfig.json
next.config.mjs
.eslintrc.json
favicon.ico
globals.css
Core.sln
TodoApi.http
.env
