.container-input {
    position: relative;
}

.input {
    width: 150px;
    padding: 10px 0px 10px 40px;
    border-radius: 9999px;
    border: solid 1px #333;
    transition: all .2s ease-in-out;
    outline: none;
    opacity: 0.8;
}

.MagnifyingGlass {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translate(0, -50%);
    cursor: pointer;
    color: rgb(0, 0, 0);

}

.MagnifyingGlass:hover {
    opacity: 0.5;
}

.input:focus {
    opacity: 1;
    width: 500px;
}