.header {
  background-color: lightgrey;
  padding: 20px;
}

.footer {
  background-color: darkgrey;
  padding: 20px;
}

.body {
  background-color: orange;
  overflow: auto;
}

.Button {
  padding: 10px 20px;
  background-color: gray !important;
  color: black;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
}

.totals {
  position: fixed;
  bottom: 20px;
  right: 20px;
  border: 1px solid #ccc;
  padding: 10px;
  background-color: #f9f9f9;
}

.carousel {
  max-height: 400px;
  max-width: 400px;
}

.carousel-container {
  display: flex;
  justify-content: center;
}

.sidebar {
  background-color: orange;
  float: left;
  width: 20%;
  padding: 15px;
}

.sidebar h2 {
  margin-bottom: 10px;
}

.sidebar button {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

.content {
  background-color: orange;
  float: left;
  width: 80%;
  padding: 15px;
}

.chartContainer {
  display: flex;
}

.Modal {
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  marginRight: -50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  boxShadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  borderRadius: 4px;
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  backgroundColor: rgba(0, 0, 0, 0.5);
}