# This workflow will build a .NET project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net

name: B66291

on:
  push:
    branches: [ "devops_b66291" ]
  pull_request:
    branches: [ "devops_b66291" ]

jobs:
  Test:
    runs-on: ubuntu-latest
    services:
      mysql:
        image: mysql:latest
        ports:
          - 3306:3306
        options: >-
          --health-cmd="mysqladmin ping --silent"
          --health-interval=10s
          --health-timeout=5s
          --health-retries=3
        env:
          MYSQL_ROOT_PASSWORD: 123456
          MYSQL_DATABASE: geekStoreDB
          MYSQL_USER: root1
          MYSQL_PASSWORD: 123456
    steps:
      - uses: actions/checkout@v4
      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 8.0.x
      - name: Restore dependencies
        run: |
          cd B66291/Devops/lab_10_b66291
          dotnet restore
      - name: Build
        run: |
          cd B66291/Devops/lab_10_b66291
          dotnet build --no-restore
      - name: Test
        run: |
          cd B66291/Devops/lab_10_b66291
          dotnet test --no-build --verbosity normal
  publish-Api:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - name: Build & Push Image
      run: |
          cd B66291/Devops/lab_10_b66291
          echo "${{ secrets.DOCKERHUBPASSB66291 }}" | docker login -u "jaziel.rojas@ucr.ac.cr" --password-stdin
          docker image build -t jazielrs1/len2024:latest .
          docker image build -t jazielrs1/len2024:0.0.1 .
          docker push jazielrs1/len2024:latest
          docker push jazielrs1/len2024:0.0.1 
  publish-UI:   
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - name: Build & Push Image
      run: |
          cd B66291/Devops/UI/local
          echo "${{ secrets.DOCKERHUBPASSB66291 }}" | docker login -u "jaziel.rojas@ucr.ac.cr" --password-stdin
          docker image build -t jazielrs1/len2024ui:latest . 
          docker image build -t jazielrs1/len2024ui:0.0.1 . 
          docker push jazielrs1/len2024ui:latest
          docker push jazielrs1/len2024ui:0.0.1  
