name: B66958

on:
  push:
    branches: [ "Lab12_B66958" ]
  pull_request:
    branches: [ "Lab12_B66958" ]

jobs:
  test:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 8.0.x
    - name: Restore dependencies
      run: |
        cd B66958/Labs
        dotnet restore
    - name: Build
      run: |
        cd B66958/Labs
        dotnet build --no-restore
    - name: Test
      run: |
        cd B66958/Labs
        dotnet test --no-build --verbosity normal

  publish-api:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - name: Build & Push Image
      run: |
        cd B66958/Labs
        echo "${{ secrets.DOCKERHUBPASSB66958  }}" | docker login -u "${{ secrets.DOCKERHUBACCOUNTB66958  }}" --password-stdin
        docker image build -t eisenheimdiego/store_api:latest .
        docker image build -t eisenheimdiego/store_api:0.0.1 .
        docker push eisenheimdiego/store_api:latest
        docker push eisenheimdiego/store_api:0.0.1
  publish-ui:
      runs-on: ubuntu-latest
      steps:
      - uses: actions/checkout@v1
      - name: Build & Push Image
        run: |
          cd B66958/Labs
          echo "${{ secrets.DOCKERHUBPASSB66958  }}" | docker login -u "${{ secrets.DOCKERHUBACCOUNTB66958  }}" --password-stdin
          docker image build -t eisenheimdiego/store_fe:latest .
          docker image build -t eisenheimdiego/store_fe:0.0.1 .
          docker push eisenheimdiego/store_fe:latest 
          docker push eisenheimdiego/store_fe:0.0.1